@import '../../colors.scss';

.ant-row .ant-carousel .slick-dots li button {
    background: $grey;
}

.ant-row .ant-carousel .slick-dots li.slick-active button {
    background: $grey;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    color: unset;
    font-size: unset;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
    color: unset;
}